<% layout("/layouts/boilerplate.ejs") %>
<body><br>

    <h3 class="col-8 offset-2 card-text-login">Create a new Listing</h3><br>
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/listing" method="post" novalidate class="needs-validation" enctype="multipart/form-data" class="new-form">
                <div class="mb-3">
                    <label for="Listing" class="form-label card-text">Title</label>
                    <input type="text" name="Listing[title]" class="new-input form-control card-text" placeholder="Add a catchy title" required>
                    <div class="invalid-feedback">Please Enter a Title</div>
                </div><br>
                <div class="mb-3"> 
                    <label for="description" class="form-label card-text">Description</label>
                    <textarea type="text" name="Listing[description]" rows="3" class="new-input-field form-control card-text" required></textarea>
                    <div class="invalid-feedback">Please Enter Description</div>
                </div><br>
                <div class="mb-3">
                    <label for="image" class="form-label card-text">Upload Image</label>
                    <input type="file" name="Listing[image]" class="form-control card-text " required>
                </div><br>
                
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="location" class="form-label card-text">Category</label>
                        <select class="form-select" aria-label="Default select example" name="Listing[category]" class="card-text new-input">
                            <option selected value="room">Room</option>
                            <option value="cities">Cities</option>
                            <option value="mountain">Mountain</option> 
                            <option value="pool">Pool</option>                           
                            <option value="resort">Resort</option>
                            <option value="villa">Villa</option>
                            <option value="castels">Castel</option>
                            <option value="farm">Farm</option>
                            <option value="camping">Camping</option>



                        </select>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div><br>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label card-text">Location</label>
                        <input type="text" name="Listing[location]" class="form-control card-text new-input" placeholder="Maharashtra, Nagpur" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div><br>
                </div><br>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label card-text">Price</label>
                        <input type="text" name="Listing[price]" class="form-control card-text new-input" placeholder="1000/night" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div><br>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label card-text">Country</label>
                        <input type="text" name="Listing[country]" class="form-control card-text new-input" placeholder="India" required>
                        <div class="invalid-feedback">Country name should be valid</div>
                    </div><br>
                </div><br>
                <button class="btn btn-primary">Add</button><br><br>
            </form>
        </div>
    </div><br>
    <script src="/js/script.js"></script>
</body>
